@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-section {
    @extend .flex-center-center;
    margin-top: 3vh;

    .btn {
            @extend .flex-center-center;
    }
    
    
}

